body {
  background-color: rgb(208, 221, 232);
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.headermain {
  height: 150px;
  width: 100%;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 15px;
}

.headermain p {
  margin: 5px;
  gap: 0px;
}

#container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0px;
}

.grids {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.grid {
  display: flex;
  row-gap: 0px;
  column-gap: 0px;
  border: 3px black solid;
  width: 450px;
  height: 450px;
}

.row {
  display: flex;
  gap: 0px;
  flex-direction: column;
}

.cell {
  border: 1px ;
  gap: 0px;
  border: 0.5px rgba(0, 0, 0, 0.289) solid;
  height: 30px;
  width: 30px;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
}

.grid-wrapper select {
  padding: 8px 15px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #9ca3af; /* Light gray border */
  background-color: white;
  appearance: none; /* Removes default OS styling */
  cursor: pointer;
}

.buttonGridMenu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 15px;
}

.buttonGridMenu button {
  border-radius: 8px;
  border: 2px solid #94a0b6;
  padding: 10px;
}

.buttonGridMenu button:hover {
  background-color:rgba(154, 176, 197, 0.489);
  transform: translateY(-2px);
}

.buttonGridMenu button:active {
  transform: translateY(2px);
}
