#container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.cell {
  border: 1px ;
  gap: 0px;
  border: 0.5px rgba(0, 0, 0, 0.289) solid;
  height: 40px;
  width: 40px;
}